@use "../utilities/variables";
@use "../utilities/extend";

body {
    background-color: #F9F9F9;
    .titulo {
        @extend .titulo-base;
        font-size: variables.$font-size-title-primary;
        color: variables.$color-main;
    }
    .titulo-secundario {
        @extend .titulo-base;
        font-size: variables.$font-size-title-secondary;
        color: variables.$color-main;
    }
    .titulo-secundario-light {
        @extend .titulo-base;
        font-size: variables.$font-size-title-secondary;
        color: variables.$color-text-light-main;

    }
    .subtitulo {
        @extend .subtitulo-base;
        color: variables.$color-secondary;
    }
    .subtitulo-light {
        @extend .subtitulo-base;
        color: variables.$color-text-light-secondary;
    }
    .texto {
        @extend .texto-base;
        color:variables.$color-secondary
    }
    .texto-light {
        @extend .texto-base;
        color:variables.$color-text-light-secondary
    }
    .section-titulo{
        margin-top: 3.5rem;
    }
    .div-titulo {
        margin-bottom: 2rem;
    }
}





