@use "../utilities/variables";

body {
    background-color: #F9F9F9;
    font-family: variables.$font-text;

    .titulo {
        font-family: variables.$font-title;
        font-weight: variables.$font-negrita;
        font-size: 3.5rem;
        color: variables.$color-main;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .subtitulo {
        font-family: variables.$font-title;
        font-size: variables.$font-size-md;
        color: #481985;
        margin-bottom: 3rem;
    }

    .texto {
        font-size: variables.$font-size-normal;
        color:#121242
    }

}





