@use "../utilities/variables";

.navbar {
    background-color: #E8EEF7;
    .navbar-nav {
        margin-left: auto;
        }
    .nav-link {
        color: #4A6FA1;
        &:hover {
            color: #2A3C61;
        }
        &.active {
            color: variables.$color-main;
            font-weight: bold;
        }
    }
    img {
        width: 100px;
    }
}