@use "../utilities/variables";

.servicios {
    margin-top: 3.5rem;

    .section-dark {
        background-color: variables.$color-main;
        padding: 1.5rem;
        border-radius: 8px;

        h3{
            color: variables.$color-text-light-main
        }

        ul{
            color: variables.$color-text-light-secondary;
            list-style-type: disc;
        }

        p{
            color: variables.$color-text-light-secondary;
            font-size: variables.$font-size-md;
        }
    }

    .section-light {
        padding: 1.5rem;
        border-radius: 8px;

        h3{
            color: variables.$color-main;
        }

        ul{
            color: variables.$color-secondary;
            list-style-type: disc;
        }

        p{
            color: variables.$color-secondary;
            font-size: variables.$font-size-md;
        }
    }
}