@use "../utilities/variables";
@use "../utilities/mixins" as mix;

.section-sobre-nosotros {
    margin-top: 3.5rem;
    .sobre-nosotros-text {
        font-size: variables.$font-size-md;
        margin-top: 1.25rem;
        text-align: justify;
        color:variables.$color-secondary;

        @media (max-width: 1200px) {
        margin-top: 1.25rem;
        }
    }
    .carousel-img {
        width: 31rem;
        height: auto;
        margin: 0 auto;
        display: block;
    }
}

.section-filosofia {
    margin-top: 3.5rem;
    overflow: hidden;
    .card-header-filosofia {
        @include mix.card-header(variables.$color-main, variables.$color-text-light-main, variables.$font-size-lg, 1.25rem);
    }
    .article-filosofia {
        @media (max-width: 1200px) {
            margin-bottom: 1.5rem;
        }
    }
}

.section-equipo{
    margin-top: 3.5rem;
    overflow: hidden;
    .card-equipo {
        font-family: variables.$font-text;
        text-align: center;
        font-size: variables.$font-size-lg;
        color: variables.$color-secondary;
    }
    .card-equipo-footer{
        font-size: 0.875rem;
        color: gray;
    }
}

.section-testimonial {
    background-color: variables.$color-main;
    color: variables.$color-text-light-main;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 3.5rem;
    overflow: hidden;
    .card-testimonial{
        margin-bottom: 1rem;
        font-family: variables.$font-text;
        .card-header{
            text-align: center;
            font-size: variables.$font-size-lg;
            color: variables.$color-secondary;
        }
        .card-footer{
            text-align: center;
        }
    }
}