@use "../utilities/variables";
@use "../utilities/mixins";

.carousel-img {
    width: 31rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

.sobre-nosotros-text {
        font-size: variables.$font-size-md;
        margin-top: 1.25rem;
        text-align: justify;
        color:variables.$color-secondary;

        @media (max-width: 1200px) {
        margin-top: 1.25rem;
        }
    }

.card-header-sobre-nosotros {
  @include mixins.card-header;
}

@media (max-width: 1200px)  {
    .sobre-nosotros-section {
       margin-bottom: 1.5rem;
    }
}