@use "../utilities/variables";
@use "../utilities/mixins" as mix;

.card-header-tarifa{
  @include mix.card-header(variables.$color-main, variables.$color-text-white, variables.$font-size-lg, 1.25rem);  
}

.card-price{
        font-size: 2.5rem;
        color: variables.$color-main;
        margin: 1.25rem 0;
        text-align: center;
}

@media (max-width: 1200px) {
  .tarifa {
    margin-bottom: 1.5rem;
  }
}

