@use "../utilities/variables";

.btn-base {
  background-color: variables.$color-main;
  color: variables.$color-text-light-main;
  padding: 1rem 2.5rem;
  font-size: variables.$font-size-normal;
  border: none;
  border-radius: 6px;
  cursor: pointer;  
}


.titulo-base{
  font-family: variables.$font-title;
  font-weight: bold;
  text-align: center;
}

.subtitulo-base{
  font-family: variables.$font-text;
  font-size: variables.$font-size-lg;
  text-align: center;
}

.texto-base{
  font-family: variables.$font-text;
  font-size: variables.$font-size-normal;
}