@mixin card-header ($bg-color, $text-color, $font-size, $padding) {
  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size;
  padding: $padding;
  text-align: center;
}

@mixin que-plan($font-size, $color, $margin-bottom) {
  font-size: $font-size;
  color: $color;
  margin-bottom: $margin-bottom;
}