//Tipografía
$font-text: "Lato", sans-serif;
$font-title: "Merriweather", serif;
$font-size-lg: 1.5rem;
$font-size-md: 1.1rem;
$font-size-normal: 1rem;

// Colores
$color-main: #2B3E6C;
$color-secondary: #121242;
$color-text-white: #FFFFFF;
$color-button-hover: #1D2E4A;