/*--------------------------------*/
/*          FUENTES               */
/*--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*--------------------------------*/
/*        ESTILOS GENERALES       */
/*--------------------------------*/
body {
  background-color: #F9F9F9;

  font-family: 'Lato', sans-serif;
}

.titulo {
  font-size: 3.5rem;
  color: #2B3E6C;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.subtitulo {
  font-size: 1.1rem;
  color: #481985;
  margin-bottom: 3rem;
}

.texto {
  color:#121242
}

/*--------------------------------*/
/*             HEADER             */
/*--------------------------------*/
.navbar {
  background-color: #E8EEF7;
}

.navbar-nav{
  margin-left: auto;
}

.nav-link{
  color: #4A6FA1;
}

.nav-link:hover{
  color: #2A3C61;
}

.navbar .nav-link.active {
  color: #2B3E6C;
  font-weight: bold;
}

.navbar img{
  width: 100px;
}


/*--------------------------------*/
/*             INDEX              */
/*--------------------------------*/
.index-container {
  margin: 4rem auto;
}

.index-logo {
  width: 37.5rem;
}

.index-h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2B3E6C;
  text-align: center;
  margin-bottom: 2rem;
}

/*--------------------------------*/
/*           Sobre Nosotros       */
/*--------------------------------*/
.carousel-img {
  width: 31rem;
  height: auto;
  margin: 0 auto;
  display: block;
}

.sobre-nosotros-text {
  font-size: 1.1rem;
  margin-top: 1.25rem;
  text-align: justify;
  color:#121242
}

.card-header-sobre-nosotros {
  background-color: #2b3e6c;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 1.25rem;
  text-align: center;
}

/*--------------------------------*/
/*           Contacto             */
/*--------------------------------*/
.form-label-propio {
  font-size: 1.1rem;
  color: #121242;
  font-weight: bold;
}
.form-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid;
  border-color: #2b3e6c;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.form-input:focus {
  border: 2px solid;
  border-color: #121242;
  outline: none;
}

.btn-propio{
  background-color: #2b3e6c;
  color: #FFFF;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-propio:hover {
  background-color: #1D2E4A;
}

/*--------------------------------*/
/*             FOOTER             */
/*--------------------------------*/
footer {
  background-color: #2C5FA6;
  color: #E0E0E0;
  font-size: 1.5rem;
  text-align: center;
}

.footer-propio {
  margin-top: 3rem;
  padding: 2.5rem 1.25rem;
  background-color: #2b3e6c;
  color: #fff;
  margin-top: 3.75rem;
  border-top: 5px solid #1d2e4a;
}

.footer-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.logo-footer {
  width: 1.875rem;
  height: 1.875rem;
}

.logo-footer:hover {
  transform: scale(1.1);
  cursor: pointer;
}



/*--------------------------------*/
/*             Tarifas            */
/*--------------------------------*/

.card-header-tarifa{
  background-color: #2B3E6C;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 1.25rem;
  text-align: center;
}

.card-price{
  font-size: 2.5rem;
  color: #2B3E6C;
  margin: 1.25rem 0;
  text-align: center;
}

/*--------------------------------*/
/*           Media Query          */
/*--------------------------------*/

@media (max-width: 1400px) {
  .section-index{
    margin-top: 2rem;
  }

  .index-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 31rem;
  }
}


@media (max-width: 1200px) {
  .tarifa {
    margin-bottom: 1.5rem;
  }

  .sobre-nosotros-section {
    margin-bottom: 1.5rem;
  }

  .servicios-text {
    margin-top: 1.25rem;
  }

  .sobre-nosotros-text{
    margin-top: 1.25rem;
  }
}

@media (max-width: 576px) {
  .index-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19rem;
  }
}


