@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #E8EEF7;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .nav-link {
  color: #4A6FA1;
}
.navbar .nav-link:hover {
  color: #2A3C61;
}
.navbar .nav-link.active {
  color: #2B3E6C;
  font-weight: bold;
}
.navbar img {
  width: 100px;
}

body {
  background-color: #F9F9F9;
}
body .titulo {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #2B3E6C;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
body .subtitulo {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #121242;
  margin-bottom: 3rem;
}
body .texto {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #121242;
}

.btn-base, .btn-propio, .btn-index {
  background-color: #2B3E6C;
  color: #FFFFFF;
  padding: 1rem 2.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.index-container {
  margin: 4rem auto;
}
.index-container .index-logo {
  width: 37.5rem;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .index-container .index-logo {
    width: 20rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .index-container .index-logo {
    width: 30rem;
  }
}
.index-container .index-h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2B3E6C;
  text-align: center;
  margin-bottom: 2rem;
}

.btn-index:hover {
  color: #FFFFFF;
  background-color: #1D2E4A;
}

.carousel-img {
  width: 31rem;
  height: auto;
  margin: 0 auto;
  display: block;
}

.sobre-nosotros-text {
  font-size: 1.1rem;
  margin-top: 1.25rem;
  text-align: justify;
  color: #121242;
}
@media (max-width: 1200px) {
  .sobre-nosotros-text {
    margin-top: 1.25rem;
  }
}

.card-header-sobre-nosotros {
  background-color: #2B3E6C;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 1.25rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .sobre-nosotros-section {
    margin-bottom: 1.5rem;
  }
}
.card-header-tarifa {
  background-color: #2B3E6C;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 1.25rem;
  text-align: center;
}

.card-price {
  font-size: 2.5rem;
  color: #2B3E6C;
  margin: 1.25rem 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .tarifa {
    margin-bottom: 1.5rem;
  }
}
.form-label-propio {
  font-size: 1.1rem;
  color: #121242;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid;
  border-color: #2B3E6C;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
.form-input:focus {
  border: 2px solid;
  border-color: #121242;
  outline: none;
}

.btn-propio:hover {
  background-color: #1D2E4A;
}

.footer-propio {
  background-color: #2B3E6C;
  color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3.75rem;
  padding: 2.5rem 1.25rem;
  border-top: 5px solid #1d2e4a;
}
.footer-propio .footer-text {
  font-size: 1rem;
  margin-bottom: 10px;
}
.footer-propio .logo-footer {
  width: 1.875rem;
  height: 1.875rem;
}
.footer-propio .logo-footer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
